
<div class="container mt-5">
  <h1>Welcome to Our Recipe App!</h1>
  <p>This is a collaborative project by Jawad Nazari and Victoria.</p>
  <p>Start exploring and sharing delicious recipes with the world!</p>
</div>
